main {
    display: grid;
    grid-template-columns: 75% 25%;
}

.side {
    border-left: 1px solid var(--fade-color);
    overflow: hidden;
    padding: 20px 32px;
}

.side > button {
    color: black;
    border: 1px solid var(--default-color);
    border-radius: 4px;
    background-color: white;
    width: 100%;
    height: 32px;
    box-sizing: border-box;
    margin-top: 12px;
    transition: transform .2s;
}

.side > button:hover {
    transform: scale(1.08, 1.08);
    transition: transform .2s;
}

.side > #login {
    border: none;
    background-color: var(--default-color);
    color: white;
}

header > h1 {
    
}

.content {
    padding: 32px 12px 0px;
}

.content > ul {
    margin-left: 24px;
}