
main {
    padding: 24px 48px 0px;
    height: min-content;
    
    display: grid;
    grid-template-columns: repeat(5, .18fr);
    justify-content: center;

}

.image {
    transition: transform .2s;
    border-radius: 8px;
}

.image:hover {
    transform: scale(1.25, 1.25);
    transition: transform .2s;
}

img {
    object-fit: cover;
    width: 80%;
    height: 80%;
}